.sa-copy-reporter-icon {
  cursor: pointer;
  float: right;
  display: block;
  user-select: none;
  filter: var(--editorDarkMode-accent-filter, none);
  width: 100%;
  height: 14px;
  margin-top: 2px;
  padding-top: 2px;
  border-top: dashed 1px #575e75;
}

.valueReportBox {
  user-select: text;
  display: block;
  text-align: center;
}
